<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
</head>
<body>
    <h1>Edit User</h1>
    
    <form action="{{ url_for('edit_user', user_id=doc._id) }}"  method="post" >
        <!-- <label for="username">username</label><br>
        <input type="text" id="username" name="username"><br><br> -->
        
        <label for="passw">new pass:</label><br>
        <input type="text" id="passw" name="passw"><br><br>
        
        <input type="submit" value="Edit">
    </form>
</body>
</html>
