<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Pets</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <a href="#" class="logo">SoulPet</a>
        <ul>
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('liked_pets')}}">Liked Pets</a></li>
        </ul>
    </nav>

    <h1>Search for Pets</h1>

    <form action="/search" method="post" style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-bottom: 30px;">
        <input type="text" name="query" placeholder="Search..." style="padding: 12px 15px; border: 1px solid #ddd; background-color: #f9f9f9; border-radius: 5px; width: 200px; transition: border-color 0.3s, box-shadow 0.3s;">
        <input type="submit" value="Search" style="padding: 12px 20px; border: none; border-radius: 5px; background-color: #007BFF; color: white; cursor: pointer; transition: background-color 0.3s;">
    </form>

    {% if results %}
        <h2 style="text-align:center;">Search Results:</h2>
        <ul>
            {% for pet in results %}
                <li>
                    {{ pet.name }} ({{ pet.age }} years) - {{pet.breed}} {{ pet.type }}
                    <!-- Like button for each pet -->
                    <a href="{{ url_for('like_pet',pet_id=pet._id) }}" class="like-button">Like</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>

</html>
